<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
    
    <script type="text/javascript" src="/static/js/pokegraph.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css"/>
    
</head>
<body>
    
    
    
    Do you want to include Legendary Pokemon in your search? <div id="selectlegend"></div>
    <!--Do you want to include Mega Evolution in your search? <div id="selectmega"></div>-->
    </br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <div style="display: inline-block; text-align: center">
            <div id="chart01"></div>
            <div>Primary Type</div>
        </div>
        <div style="display: inline-block; text-align: center">
            <div id="chart02"></div>
            <div>Secondary Type</div>
        </div>
    </div>
    <br>
    </br>
    <div id="genPie"></div>
    </br>
    <div id="chart04"></div>
    </br>
    <div id="someNumber"></div>
    <br>
    <div id="otherNumber"></div>
    <br>
    <div id="chart99"></div>
    
    <div id="what">
        <div id="here">
            
        </div>
    </div>
    <br>
    <div style="display: block">
    Bellow here
    {% for user in apple %}
  <div style="display: inline-block; width: 80px; height: 80px; background-color: red; vertical-align: top">{{ user.Name }}</div>
    {% endfor %}
    {% for b in banana %}
  <p>{{ b.Name }}</p>
    {% endfor %}
    </div>
    

</body>
</html>